* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;

}

header .nav  ul {

    padding: 1.5rem;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 99%;
    text-align: center;
}

.logo img {
    max-width: 120px;
    height: auto;
}

.nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;

}

.nav ul li a {
    text-decoration: none;
    color: #007bff;

}

.nav ul li a:hover {
    color: #121313;
}

body header .cita button{
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 99%;
}














footer {
    background: #4c4c4c;
    color: white;
    padding: 2rem 1rem;
   display: flex;
   flex-direction: column;
}

footer .tittle, footer .derechos {
    background: #4c4c4c;
    color: white;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: w    rap;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 0.5rem;
}

footer a:hover {
    color: #ffa500;
}

footer p {
    margin: 0.5rem 0;
}
